<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-4">
            <h2>本当に退会しますか？</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 mt-4 ml-5 pl-5">
            <p>退会すると、アカウントを使用することが出来なくなります。</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center mb-4">
            <%= link_to edit_user_path(@user) do %>
                <button type="button", class="btn-sm btn btn-secondary">戻る</button>
            <% end %>
            <%= link_to users_withdraw_path, method: :patch do %>
                <button type="button", class="btn-sm btn btn-danger">退会する</button>
            <% end %>
        </div>
    </div>
</div>
