<div class="container">
    <% if @theme.present? %>
        <div class="row">
            <%= render 'themes/theme_bar', theme: @theme %>
        </div>
    <% end %>
    <div class="row">
        <div class="col-sm-8 mt-4">
            <h2>2createの掛け持ち・卒業制度</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 ml-5 pl-5">
            <p>2createでは、1度に2つまでのサークルに参加することができます。<br>
                3つ目以上のサークルに参加したい場合や、所属しているサークルで十分学びきった場合には<br>
                メンバーとして所属していたサークルを卒業することで、新たなサークルのメンバーとなることができます。<br>
                なお、卒業したサークルにはシニア会員として籍が残り、現役メンバーにコメントを送ることが出来ます。
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-8">
            <h2>2creatorの作品例</h2>
        </div>
    </div>
    <div class="row">
        <% if @firstworks.nil? %>
            <!--新着workを3つ並べる-->
            <div class="col-sm-3 ml-4">
                <% @firstworks.each do |firstwork| %>
                    <table>
                        <tr><td><%= attachment_image_tag firstwork, :work_image, format: 'jpeg', fallback: "no_image.jpg", size: "400x250" %></td></tr>
                        <tr><td><%= firstwork.title %></td></tr>
                        <tr><td><%= firstwork.activity.name %></td></tr>
                    </table>
                <% end %>
            </div>
        <% else %>
            <div class="col-sm-12 ml-5 pl-5">
                <p>Comming soon...</p>
            </div>
        <% end %>
    </div>
</div>
